.attendees-filter {
	display: inline-block;
	float: right;
}

.tablenav {
	a.button {
		display: inline-block;
		margin: 0 3px 0;
	}
}

@media screen and (max-width: 500px) {
	.tribe-settings-form .tribe-field-wrap {
		margin-top: .25em;
	}
}

/*  #tribe-field-paypal_sandbox { */
	input[type="checkbox"] {
		margin-right: .5em;
		margin-top: .25em;
		vertical-align: top;

		& ~ p {
			display: inline-block;
			margin-top: 0;
		}
	}
/* } */

.tribe-settings-last-block {
	margin-bottom: 1em;
}
